$color-primary: #0E0E0E;
$color-secondary: #F6B5D5;
$color-gray: #B4B6C6;
$color-white: #FFF;


$font-body: 'Poppins', sans-serif;
$body-background-colorStart: #8e9eab;
$body-background-colorEnd: #eef2f3;
$body-background-direciton: to right;
$body-color: $color-primary;

$shadow-box: 6px 13px 17px rgba(0, 0, 0, 0.1);
